@font-face {
    font-family:Nunito;
    src: url(/assets/Nunito-VariableFont_wght.ttf);
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    

}
html::-webkit-scrollbar{
    width: 2.5px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: red; 
}
html{
    overflow-x: hidden;
}

body{
    height: 500vh;
    width: 100vw;
    font-family: 'Nunito', sans-serif;  
    background: black;
}
main{
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background: url(/assets/The-Shows-of-the-Incomparable-Shinichiro-Watanabe-1536x899.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
   
}
header{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2%;
  font-family: 'Nunito', sans-serif;
  color: gray;

}
a{
    text-decoration: none;
    color: grey;
    
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    overflow: hidden;
    position: absolute;
    right: 0;
    
}
#top_list li{
    list-style: none;

}
#top_list{
    padding-top: 5px;
    padding-bottom: 10px ;
}
#about{
    color: rgb(241, 232, 232);
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: unset;
    width: 100%;
    overflow-x: hidden;
    padding-left: 12.5%;
    background: url(/assets/spike_2.png);
    background-repeat: repeat;
    background-size: 300px;
    padding-top: 30px;
}
#about p{
    font-size: 1.1rem;
    width: 85%;
    line-height: 150%;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}
#about h1{
    font-size: 1.75rem;
    padding: 20px;
}
header ul li{
    list-style-type: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.title h1{
    font-size: 3rem;
}
.title h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}
header h2{
    position: absolute;
    left: 0;
    padding-left: 12.5%;
    width: 40%;
    cursor: pointer;
}
#top_imgs{
    height: 50%;
    width: 80%;
}
.title{
    font-family: 'Nunito', sans-serif;  
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    padding-left: 12.5%;
    color: gray;
}
@media only screen and (max-width: 500px) {
    main{
        background: url(/assets/The-Shows-of-the-Incomparable-Shinichiro-Watanabe-1536x899.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 31.5%;
       
    }
   .title h1{
    font-size: 3em;
   }
   .title p{
    font-size: 1rem;
   }
   #about p{
    font-size: 15px;
    padding-right: 10px;
   }
   header ul{
    display: none;
   }
  }